#1st{
	position:absolute;
	left:25px;
	top:5px;
	width:197px;
	height:369px;
}

#2nd{
	position:absolute;
	left:219px;
	top:3px;
	width:234px;
	height:425px;
}

#3rd{
	position:absolute;
	left:431px;
	top:0px;
	width:261px;
	height:492px;
}

#4th{
	position:absolute;
	left:0px;
	top:381px;
	width:435px;
	height:237px;
}

#5th{
	position:absolute;
	left:21px;
	top:622px;
	width:279px;
	height:372px;
}

#6th{
	position:absolute;
	left:284px;
	top:625px;
	width:130px;
	height:364px;
}

#7th{
	position:absolute;
	left:421px;
	top:496px;
	width:301px;
	height:496px;
}


#Layer-1{
	position:absolute;
	left:68px;
	top:74px;
	width:722px;
	height:993px;
}

